.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header img {
    width: 30px;
    margin-right: 10px;
  }
  
  .header .title {
    font-weight: bold;
  }
  
  .header .user {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .header .user img {
    width: 20px;
    margin-right: 5px;
  }
  