.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
  }
  
  .login-header {
    text-align: center;
  }
  
  .logo img {
    width: 80px;
    height: 80px;
  }
  
  .title {
    font-size: 2rem;
    color: #000;
    margin: 0.5rem 0;
  }
  
  .subtitle {
    color: #666;
    margin-bottom: 2rem;
  }
  
  /* Estilos del formulario */
  .login-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #c00;
  }
  
  .input-field {
    width: 90%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .login-button {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #c00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #a00;
  }
  
  /* Estilos de enlaces del formulario */
  .form-links {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .forgot-password,
  .create-account {
    color: #666;
    text-decoration: none;
  }
  
  .forgot-password:hover,
  .create-account:hover {
    text-decoration: underline;
  }